@model WebApplicationASP.Models.ContectPersonalModel

@{
    ViewData["Title"] = "CreateContectPersonal";
}


<div class="card">
    <div class="card-header bg-primary">
<h3 class="card-title">เพิ่มข้อมูลผู้ติดต่อ</h3>


    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateContectPersonal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*    <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="First_name" class="control-label"></label>
                        <input asp-for="First_name" class="form-control" />
                        <span asp-validation-for="First_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Last_name" class="control-label"></label>
                        <input asp-for="Last_name" class="form-control" />
                        <span asp-validation-for="Last_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="career" class="control-label"></label>
                        <input asp-for="career" class="form-control" />
                        <span asp-validation-for="career" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Employee_code" class="control-label"></label>
                        <input asp-for="Employee_code" class="form-control" />
                        <span asp-validation-for="career" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Card_raw" class="control-label"></label>
                        <input asp-for="Card_raw" class="form-control" />
                        <span asp-validation-for="Card_raw" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*  <a class="btn btn-primary" type="submit"><i class="fa fa-save"></i> บันทึก</a> *@
                         
                         <input type="submit" value="Create" class="btn btn-primary " /> 
                    </div>
                </form>
            </div>
        </div>
    </div>
   <div class="card-footer">

   </div>

</div>



<div>
    <a asp-action="ContectPersonal">Back to List</a>
</div>

