
@{
    ViewData["Title"] = "ContactSick";
}


<div style="display:flex;justify-content:center;align-items:center;height:100vh;" class="container">


<div class="row justify-content-center">
    <div class=" card shadow">
        <div class="card-header">
            <h5 class="text-center">กรุณาติดต่อเจ้าหน้าที่ห้องพยาบาล</h5>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <img style="width:400px" class="img-thumbnail " src="../dist/img/sick-jay.png" />

            </div>

          

        </div>
        <div class="card-footer">
                <div>
                    <a asp-action="Index">กลับสู่หน้าแรก</a>
                </div>
        </div>

    </div>
  

</div>

</div>

